.card-button {
  bottom: 0;
  right: 0;
  width: 50%;
  border-radius: 15px 0 0 0;
  background-color: rgb(178, 159, 50);
  position: absolute;
  border: none;
  cursor: pointer;
  height: 2rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.card-button:hover {
  color: white;
  background-color: black;
}
